.tracker-list{ margin:20px 0; padding:20px 0; width:100%; }
.tracker-list > .list-type{ width:100%; display:flex; justify-content:space-between; grid-gap:10px; border-bottom:solid 2px #e1e3e5; padding-bottom:10px; }
.tracker-list > .list-type > div:first-child{ display:flex; grid-gap:10px; }
.tracker-list > .list-type > div > p{ font-size:18px; font-weight:bold; color:#aeaeae; cursor:pointer; }
.tracker-list > .list-type > div > p.active{ color:#333; }

.tracker-list > .add-items{ border:dashed 2px #267ca2; background:#edeeef; border-radius:10px; overflow:hidden; margin-top:10px; padding:20px 0; cursor:pointer; }
.tracker-list > .add-items > div{ width:100%; display:flex; flex-direction:column; align-items:center; grid-gap:10px; }
.tracker-list > .add-items img{ width:50px; }
.tracker-list > .add-items p{ font-weight:bold; color:#267ca2; }